# Dependencies (e.g. Node.js)
node_modules/

# Build output directories
dist/
build/
scraper/
/exrx-offline
/ExrUnxipped
# Log files
logs/
*.log

# Environment variable files
.env

# Operating system files
.DS_Store
Thumbs.db
